body{font-family: Open Sans ;}
.container{
	max-width: 1240px;
    margin: auto;
    box-sizing: border-box;
    padding: 0 10px;
    width: 100%;
}
ul{list-style: none;}
img{
	width: 100%;
    height: auto;
    display: flex;
}

@font-face{
	font-family: "Open Sans";
	src:url("../font/OpenSans-Regular.ttf") format('woff');

}
@font-face{
	font-family: "Inter";
	src:url("../font/Inter-Regular-slnt=0.ttf") format('woff');
}